<div class="container p-0">
  <app-header [transactions]="transactions"></app-header>
  <div class="card p-4">
    <div class='row m-0 p-0'>
      <div class="col-md">
        <app-single-block [operationFilter]="'income'"
                          [name]="'Income'"
                          [tabQuery]="0">
        </app-single-block>
      </div>
      <div class="col-md">
        <app-single-block [operationFilter]="'outcome'"
                          [name]="'Outcome'"
                          [tabQuery]="1">
        </app-single-block>
      </div>
    </div>
    <div class="row m-0 p-0">
      <div class="col-md">
        <app-single-block [operationFilter]="'loan'"
                          [name]="'Loans'"
                          [tabQuery]="2">
        </app-single-block>
      </div>
      <div class="col-md">
        <app-single-block [operationFilter]="'investment'"
                          [name]="'Investment'"
                          [tabQuery]="3">
        </app-single-block>
      </div>
    </div>
  </div>
</div>
